<div class="select" [formGroup]="novaCategoria" class="form-categoria">
    <select (change)="enviarCategorias()" formControlName="categoria"  [disabled]="desabilitaFormulario">
        <option value="{{enumCategoria.INTELECTUAL}}">Intelectual</option>
        <option value="{{enumCategoria.FISICA}}">Física</option>
        <option value="{{enumCategoria.TEA}}">TEA</option>
        <option value="{{enumCategoria.AUDITIVA}}">Auditiva</option>
        <option value="{{enumCategoria.VISUAL}}">Visual</option>
    </select>
</div>