<div class="dice">
  <ol class="die-list" #dice>
    <li class="die-item" data-side="1">
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="2">
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="3">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="4">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="5">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="6">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
  </ol>
  <button
    *ngIf="this.numero == 0"
    class="botao"
    mat-raised-button
    (click)="compraCarta()"
  >
    Rolar o dado
  </button>
  <button
    *ngIf="this.numero != 0"
    class="botao"
    mat-raised-button
    (click)="resetarDado()"
  >
    Resetar o dado
  </button>
</div>
