<div class="ranking">
  <h2 class="titulo">Pontuação Final</h2>

  <table
    class="jogadores"
  >
    <tr>
      <th id="nome">Nome</th>
      <th>Cartas</th>
      <th>Objetivos</th>
      <th>Total</th>
    </tr>
    <tr *ngFor="let jogador of jogadores">
      <td>{{ jogador.nome }}</td>
      <td>{{ jogador.pontos }} Pontos</td>
      <td>{{ jogador.pontosObjetivo }} Pontos</td>
      <td>{{ jogador.pontos + jogador.pontosObjetivo}} Pontos</td>
    </tr>
  </table>

  <div class="div-btn">
    <button mat-raised-button class="btn" (click)="irParaHome()">Voltar para página inicial</button>
  </div>
</div>
