.titulo {
  color: var(--input-fontColor);
  font-size: calc(var(--tamanhoFonte) + 5px);
  font-weight: bold;
  text-align: center;
}

#nome {
  min-width: 10rem;
}

th {
  max-width: 55px;
}

table,
th,
td {
  text-align: center;
  font-size: var(--tamanhoFonte);
}
.jogadores tr:nth-child(even) {
  background-color: var(--input-hoverTable);
}

.jogadores tr:hover {
  background-color: var(--input-hoverTable);
}

.jogadores {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  color: var(--input-fontColor);
}
.ranking {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  justify-content: center;
  margin-top: 5%;
  background-color: var(--btn-bg);
  color: var(--font-color);
  width: fit-content;
  height: fit-content;
  border-color: var(--input-fontColor);
  border-radius: 30px;
  font-size: var(--tamanhoFonte);
}

@media (max-width: 600px) {
  .btn {
    font-size: calc(var(--tamanhoFonte) - 32%);
    width: var(--btn-width);
  }
}
