img {
  width: 400px;
  height: 550px;
}

button {
  color: var(--font-color);
  background-color: var(--btn-bg);
  font-size: calc(var(--tamanhoFonte) - 3px);
  width: 150px;
  height: 35px;
  margin-top: 10px;
  margin-left: 10px;
}

.coracao-grande {
  width: 30px;
  height: 30px;
}

.coracao-pequeno {
  margin-left: 3px;
  width: 20px;
  height: 20px;
}

.presente {
  width: 50px;
  height: 50px;
}

h1 {
  margin: 2px;
  padding: 2px;
  font-size: 30px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.texto {
  font-size: 18px;
}

p{
    margin:2.5px;
    padding: 2.5px;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}