* {
  box-sizing: border-box;
}

.primeiro-jogador-container label {
  font-size: var(--tamanhoFonte);
  color: var(--input-fontColor);
  line-height: var(--font-heigth);
}

.primeiro-jogador-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.lista-jogadores-radio {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: center;
  row-gap: .25rem;
  column-gap: 2rem;
  width: 50%;
}

.nomes-jogadores{
  font-size: var(--tamanhoFonte);
  color: var(--input-fontColor);
  line-height: var(--font-heigth);
}
