<app-modal-cartas-objetivo (embaralharCartas)="habilitaAnimacaoEmbaralhar($event)"
  [cartasObjetivo]="opcoesCartaObjetivo" [sala]="sala"></app-modal-cartas-objetivo>
<div class="container">
  <div class="compra-container">
    <div class="linha2">
      <div class="carta carta-baralho">
        <img class="imagem-logo" src="../../../assets/img/logoLilaSozinho.png" alt="logo" />
        <img class="imagem-lila" src="../../../assets/img/lilaSozinha.png" alt="lila" />
      </div>
      <div class="dado">
        <app-habilita-dado></app-habilita-dado>
      </div>
    </div>

    <div class="grupo-cartas" *ngIf="listaCartasDisponiveis">
      <ng-container class="lista-cartas" *ngFor="
          let carta of listaCartasDisponiveis.slice(0, 6);
          let i = index">
        <div class="container-carta" [ngClass]="{
              'desabilitar-carta': !podeComprar(carta) || bloqueiaAcao,
              'desabilitar-acao': !verificaJogadorJogando()}" (click)="podeComprar(carta) && comprarCarta(i)">
          <app-montar-cartas [carta]="carta"></app-montar-cartas>
        </div>
      </ng-container>
    </div>

    <div class="informacoes-gerais">
      <div class="container-cartas">
        <app-animacao-carta *ngIf="embaralharCartas"></app-animacao-carta>
        <div [ngClass]="{
        'desabilitar-carta': !podeComprarObjetivo() || bloqueiaAcao || verificaTemCartaObjetivoSala(),
        'desabilitar-acao': !verificaJogadorJogando()
      }" class="carta carta-objetivo dropdown">
          <div class="carta-logotexto">
            <div class="logo-e-texto">
              <img class="imagem-logo" src="../../../assets/img/logoLilaSozinho.png" alt="logo" />
              <p class="texto">Objetivo</p>
            </div>
            <div class="dropdown">
              <div class="dropbtn">
                <div class="dropdown-content" *ngIf="
                  verificaJogadorTemCoracoes() &&
                  verificaJogadorJogando()">
                  <a (click)="compraUmaCartaObjetivo()"
                    *ngIf="verificaJogadorTemCoracaoPequeno()==true && sala.cartasObjetivo.length >= 1 && !bloqueiaAcao">
                    <img src="../../../../assets/img/botao_objetivo_comprar.png" alt="" />
                  </a>
                  <a (click)="escolherEntreDuasCartasObjetivo()"
                    *ngIf="verificaJogadorTemCoracaoGrande() && sala.cartasObjetivo.length >= 2 && !bloqueiaAcao">
                    <img src="../../../../assets/img/botao_objetivo_selecionar.png" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <img class="imagem-lila" src="../../../assets/img/lilaSozinha.png" alt="lila" />
        </div>
      </div>

      <div class="coracoes">
        <div class="grupo-coracoes">
          <div [ngClass]="{
              'desabilitar-coracao': bloquearCompraCoracoesGrandes() || bloqueiaAcao
            }" title="Pegar 1 coração grande" class="coracao grande" (click)="comprarCoracaoG()">
            <img class="coracao-grande" src="assets/svg/icone-coracao.svg" alt="coracao grande" />
          </div>
          <div [ngClass]="{
              'desabilitar-coracao': bloquearCompraCoracoesPequenos() || bloqueiaAcao
            }" title="Pegar 2 corações pequenos" class="coracao pequeno" (click)="comprarCoracaoP()">
            <img class="coracao-pequeno" src="assets/svg/icone-coracao.svg" alt="coracao pequeno" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>