<div class="mao">
    <div class="linha-3">

        <div>

            <app-indica-jogador *ngIf="sala.status == 'JOGANDO' && jogador?.status=='JOGANDO'" mensagem="Jogando">
            </app-indica-jogador>

            <app-indica-jogador *ngIf="sala.status == 'ULTIMA_RODADA' && jogador?.status=='JOGANDO'" mensagem="Jogando">
            </app-indica-jogador>

            <app-indica-jogador *ngIf="sala.status == 'JOGANDO' && jogador?.status=='ESPERANDO'"
                mensagem="Aguarde sua vez"></app-indica-jogador>

            <app-indica-jogador *ngIf="sala.status == 'ULTIMA_RODADA' && jogador?.status=='JOGANDO'"
                mensagem="ULTIMA_JOGADA"></app-indica-jogador>

        </div>
        <!-- <div class="centro">
            <button class="botao-sair" mat-raised-button [routerLink]="['/']">Sair</button>
        </div> -->
        <div class="centro"><img class="avatar" src="../../../assets/avatar" alt=""></div>
        <div *ngIf="jogador" class="centro nome">{{jogador.nome}}</div>
    </div>

    <div class="carta-coracoes">
        <div class="carta-coracao" *ngFor="let i of [].constructor(jogador?.coracaoGrande)">
            <img class="carta-coracao-grande" src="../../../assets/svg/icone-coracao.svg" alt="Ícone coração">
        </div>
        <div class="carta-coracao" *ngFor="let i of [].constructor(jogador?.bonusCoracaoGrande)">
            <img class="carta-coracao-bonus-grande" src="../../../assets/svg/coracaoBonus.svg" alt="Ícone coração">
        </div>
        <div class="carta-coracao" *ngFor="let i of [].constructor(jogador?.bonusCoracaoPequeno)">
            <img class="carta-coracao-bonus-pequeno" src="../../../assets/svg/coracaoBonus.svg" alt="Ícone coração">
        </div>
        <div class="carta-coracao" *ngFor="let i of [].constructor(jogador?.coracaoPequeno)">
            <img class="carta-coracao-pequeno" src="../../../assets/svg/icone-coracao.svg" alt="Ícone coração">
        </div>
    </div>

    <div class="cartas-container">
        <div class="cartas-container-scroll">
            <div *ngFor="let cartas of jogador?.cartasDoJogo" class="carta carta-vertical">
                <div class="cabecalho">
                    <h2 class="titulo">{{ cartas.tipo }}</h2>
                    <div class="pontos">
                        <p class="pt">{{ cartas.pontos }}</p>
                    </div>
                </div>
                <div class="corpo">
                    <p class="definicao y-scroll">
                        {{cartas.texto}}
                    </p>
                    <div class="icones">
                        <div class="coracoes">
                            <div class="coracao" *ngFor="let i of [].constructor(cartas.valorCoracaoGrande)">
                                <img class="coracao-grande" src="assets/svg/icone-coracao.svg" alt="Ícone coração">
                            </div>
                            <div class="coracao" *ngFor="let i of [].constructor(cartas.valorCoracaoPequeno)">
                                <img class="coracao-pequeno" src="assets/svg/icone-coracao.svg" alt="Ícone coração">
                            </div>
                        </div>
                        <div class="presentes">
                            <div class="presente-acao">
                                <div class="presente-acao" *ngIf="cartas.tipo === 'Informação' && cartas.bonus == true">
                                    <img class="presente" src="assets/svg/icone-presente.svg" alt="presente">
                                    <img class="presenteInfoAcoes" src="assets/svg/icone-usuario.svg" alt="acao">
                                </div>
                                <div class="presente-info" *ngIf="cartas.tipo === 'Ação' && cartas.bonus == true">
                                    <img class="presente" src="assets/svg/icone-presente.svg" alt="presente">
                                    <img class="presenteInfoAcoes" src="assets/svg/icone-info.svg" alt="info">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rodape">
                    <span class="fonte y-scroll">Fonte: {{cartas.fonte}}</span>
                </div>
            </div>

            <div class="carta carta-horizontal" *ngFor="let cartaObjetivo of jogador?.cartasObjetivo">
                <div class="cabecalho">
                    <h2 class="titulo">{{cartaObjetivo.texto_tematico}}</h2>
                </div>
                <div class="corpo">
                    <p class="definicao y-scroll">{{cartaObjetivo.texto_regra}}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="jogador" class="centraliza">
        <h4>Pontos:
            <br>
            {{jogador.pontos}}
        </h4>
    </div>
</div>
