.mao {
  display: grid;
  min-height: 13.8vw;
  height: fit-content;
  grid-template-columns: 15% 10% 64% 8%;
  grid-gap: 5px;
  align-items: center;
  max-width: 100%;
  border: 2px solid var(--input-fontColor);
  margin: 15px;
}

.nome-jogador {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.botao-sair {
  color: var(--font-color);
  background-color: var(--btn-bg);
  font-size: calc(var(--tamanhoFonte) - 3px);
  width: 50%;
  height: 35px;
}

.centro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centraliza {
  text-align: center;
  min-width: fit-content;
  color: var(--input-fontColor);
  font-size: var(--tamanhoFonte);
}

.linha-3 {
  display: grid;
  grid-template-rows: 20% 60% 20%;
  align-items: center;
  justify-content: center;
  font-size: var(--tamanhoFonte);
  height: 90%;
}

.avatar {
  height: 50%;
  width: 50%;
}

.nome {
  color: var(--font-color-aguarde);
}

.cartas-container {
  padding-bottom: 10px;

  &-scroll {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    max-width: 1400px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;

    &::-webkit-scrollbar {
      height: 4px;
      background-color: rgba(0, 0, 0, 0.25);

      &-thumb {
        background-color: black;
      }
    }

    .select {
      width: 100%;
      height: 10%;
    }

    .carta {
      border: 2px solid black;
      padding: 10px;
      background: var(--input-backgroundColor);
      word-wrap: break-word;
      text-align: center;

      &-horizontal {
        width: 190px;
        height: 110px;
        margin-bottom: 1.5rem;

        &.carta-sem-titulo {
          display: flex;
          align-items: center;

          .corpo .definicao {
            min-height: unset;
            max-height: unset;
            margin: 0;
          }
        }

        .cabecalho {
          .titulo {
            color: #38761d;
            font-size: calc(var(--tamanhoFonte) - 0.45vw);
            line-height: 15px;
          }
        }

        .corpo {
          .definicao {
            min-height: 50px;
            max-height: 60px;
            width: 190px;
            font-size: calc(var(--tamanhoFonte) - 6pt);
            line-height: 15px;
            overflow-y: auto;
          }
        }
      }
    }
  }
}

.cor-texto {
  color: #ffab40;
}

.grid-zoom {
  display: grid;
  grid-template-columns: 12% 88%;
}

.zoom {
  border: none;
  background: local;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;

  .mat-icon {
    font-weight: bolder; 
  }

  .icone-zoom {
    margin-bottom: 16px;
  }
}

.carta-coracoes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .carta-coracao {
    width: 40%;
    height: 50px;
    border: 2px solid var(--input-fontColor);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;

    &-grande {
      height: 95%;
      width: 95%;
    }

    &-pequeno {
      height: 55%;
      width: 55%;
    }
  }

  .carta-coracao-bonus {
    width: 40%;
    height: 50px;
    border: 2px solid var(--input-fontColor);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;

    &-grande {
      height: 100%;
      width: 100%;
    }

    &-pequeno {
      height: 60%;
      width: 60%;
    }
  }
}

button:not(.zoom) {
  color: var(--font-color);
  background-color: var(--btn-bg);
  font-size: calc(var(--tamanhoFonte) - 3px);
  width: fit-content;
  height: 35px;
}

.botao-confirmar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#botao-confirmar {
  color: var(--font-color);
  background-color: var(--btn-bg);
  font-size: calc(var(--tamanhoFonte) - 3px);
  min-width: fit-content;
  height: 35px;
}

#botao-confirmar:disabled {
  opacity: 0.2;
}