.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

div {
  top: 0px;
  z-index: 1;
  position: fixed;
  // border: 1px solid red;
  width: fit-content;
  // padding: 0.5rem 1rem;
  background-color: var(--btn-bg);
  border-radius: 30px;
}

//menu para alteração de fonte e contraste
label {
  padding: 2px;
  display: inline-block;
  // margin-right: 10px;
  color: var(--font-color);
  font-size: var(--tamanhoFonte);
}
