* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.img-logo {
    width: 100%;
}

.conteudo {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
}

.conteudo p {
    font-size: var(--tamanhoFonte);
    color: var(--input-fontColor);
    line-height: var(--font-heigth);
}

.conjunto-btn {
    display: flex;
    flex-direction: column;
}

.btn {
    display: inline-block;
    padding: 0.2rem 1rem;
    margin-top: 10px;
    background-color: var(--btn-bg);
    color: var(--font-color);
    min-width: var(--btn-width);
    height: var(--btn-height);
    border-radius: 30px;
    font-size: var(--tamanhoFonte);
}

.img-lila {
    width: 375px;
    height: max-content;
    margin: 2rem 0;
}

.patrocinio {
    float: right;
    text-align: center;
    margin: 2rem 0 0 0;
}

.texto-patrocinio {
    font-weight: lighter;
    margin: 0;
    font-size: calc(var(--tamanhoFonte) * 0.75);
    color: var(--input-fontColor);
}

.dblogo {
    height: 70px;
}

app-licenciamento {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

@media (max-width: 600px) {
    .btn {
        font-size: calc(var(--tamanhoFonte) - 32%);
        width: var(--btn-width);
    }
}
  
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  .spinner:before {
    content: '';
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    margin-top: 6px;
    margin-left: 210px;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid var(--font-color-aguarde);
    border-top-color: rgb(167, 163, 163);
    animation: spinner .8s linear infinite;

    @media (max-width: 800px) {
        margin-left: 180px;
        
    }

  }

  .btn[disabled] {
    background-color: rgb(167, 163, 163);
    color: rgb(167, 163, 163);
  }