<div class="licenciamento">
  <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license" target="_blank">
    <img
      class="licenciamento__img"
      src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"
      alt="Licença Creative Commons"
    />
  </a>
  <p class="text">
    Corações da Lila de
    <u>
      A.C. Hermann, Bruna Descovi da Silva, Isadora Giongo Brandalise, Larissa
      Yasin Gonçalves Galuschka
    </u>
    está licenciado com uma Licença
    <u>
      Creative Commons - Atribuição-NãoComercial-CompartilhaIgual 4.0
      Internacional.
    </u>
    Podem estar disponíveis autorizações adicionais às concedidas no âmbito
    desta licença em
    <a href="https://bddwarriors.wordpress.com" target="_blank"
      ><u>https://bddwarriors.wordpress.com</u></a
    >
  </p>
</div>
