<div class="logo">
    <figure>
        <img class="imagem" src="assets/img/logoLilaSozinho.png" alt="Logo Lila">
    </figure>
</div>
<div class="titulo">
    <h2>Menu de Cadastro do Baralho e das Cartas</h2>
</div>
<div class="container">   
    <div class="row">        
        <div class=" first-col">
            <button class="custom-button" mat-raised-button>Baralho</button>
            <button class="custom-button" mat-raised-button>Categoria de Cartas</button>
            <button class="custom-button" mat-raised-button>Tipos de Cartas</button>
            <button class="custom-button" mat-raised-button>Bônus</button>
        </div>
        <div class="second-col">
            <button class="custom-button" mat-raised-button>Cartas do Jogo</button>
            <button class="custom-button" mat-raised-button>Cartas de Início</button>
            <button class="custom-button" mat-raised-button>Cartas de Objetivo</button>
            <button class="custom-button" mat-raised-button [routerLink]="['']" >Voltar</button>
        </div>
    </div>
</div>