.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: var(--margemTopoLogo);
}

.logo img {
  background-color: var(--background);
}

.aviso-centro {
  text-align: center;
}

.aviso{
  font-size: var(--tamanhoFonte);
  color:red;
  line-height: 110%;
}

.texto {
  color: green;
}

.titulo {
  font-size: var(--tamanhoFonte);
  color: var(--font-color);
  margin-bottom: 20px;
}

input{
  background-color: var(--bg-input);
}

button {
  margin-top: 20%;
  color: var(--font-color);
  background-color: var(--btn-bg);
  border-radius: 30px;
  width: var(--btn-width);
  height: var(--btn-height);
  margin: 10px;
  font-size: var(--tamanhoFonte);
}

@media screen and (max-width: 640px) {
  .titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media (max-width: 616px) {
}

:host ::ng-deep .mat-form-field {
  font-size: calc(var(--tamanhoFonte) - 5px);
}