<div class="container">
  <div class="logo">
    <img src="assets/img/logoLilaSozinho.png">
  </div>
   
  <mat-form-field appearance="fill">
    <mat-label>Nick:</mat-label>
    <input [(ngModel)]='nick' matInput type="text">
    </mat-form-field>


    <div *ngIf="!isvalid">
      <p class="aviso">
      Nome deve ter pelo menos 2 caracteres
      </p>
    </div>
    <div >
      <button class="btn" mat-raised-button (click)='conectar()'> Entrar na mesa</button>
    </div>   
    
  <div>
    <button mat-raised-button type="submit" [routerLink]="['']">Voltar</button>
  </div>
</div>
