p{
    margin:0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    //color:var(--font-color-aguarde);
}

.red{
    background-color:red

  }
  .green{
    background-color:green
  }

  .orange{
      background-color: orange;
  }
