<div class="centro">
    <div class="btn-superior">
        <app-guia-rapido></app-guia-rapido>
        <app-regras-jogo></app-regras-jogo>
    </div>
</div>
<div class="container">
    <header><app-area-jogadores></app-area-jogadores></header>
    <nav *ngIf="sala.status=='AGUARDANDO'"><app-inicia-partida></app-inicia-partida></nav>
    <nav *ngIf="sala.status =='JOGANDO' || sala.status == 'AGUARDANDO_DEFINICAO'"><app-area-de-compra></app-area-de-compra></nav>
    <nav *ngIf="sala.status =='ULTIMA_RODADA'">
      <div class="modal" id="modal-one" aria-hidden="true" [hidden] = "isShow">
        <div class="modal-dialog">
            <div class="modal-header">
                 <h2>Última rodada!</h2>
            </div>
            <div class="modal-body">
                <p>8 Pontos alcançados! :D</p>
            </div>
            <div class="modal-footer"> <button mat-raised-button class="btn" (click) = fecharModal()>Fechar</button>
            </div>
        </div>
    </div>
      <app-area-de-compra></app-area-de-compra>
    </nav>
    <nav *ngIf="sala.status=='FINALIZADO'"><app-ranking></app-ranking></nav>
    <footer><app-mao-jogador></app-mao-jogador></footer>
</div>
