<div class="container">
  <div class="logo">
    <a [routerLink]="['']">
      <img src="../../../assets/LogoLilaCor.png" alt="" />
    </a>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Nick:</mat-label>
      <input matInput type="text" [(ngModel)]="nick" minlength="2" maxlength="10">
    </mat-form-field>
  </div>

  <div class="aviso-centro">
    <p class="aviso">
      Nick deve ter entre 2 e 10 caracteres. Não usar caracteres especiais (@.|!? ...)
    </p>
  </div>

  <div>
    <button mat-raised-button class="btn"  [class.spinner]="carregando" [disabled]="carregando" (click)="click()">Criar Mesa</button>
  </div>
  
  <div>
    <button  mat-raised-button class="btn" type="submit" [routerLink]="['']">Voltar</button>
  </div>
</div>
