.container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    background: var(--background);
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.texto {
    color: #59184f;
    font-size: var(--tamanhoFonte);
    margin-top: 4%;
    justify-content: center;
}

.link-da-mesa {
    display: inline-block;
    color: var(--input-fontColor);
    font-size: var(--tamanhoFonte);
}

.btn-inicio {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--btn-bg);
    color: var(--font-color);
    width: var(--btn-width);
    height: var(--btn-height);
    border-radius: 30px;
    font-size: var(--tamanhoFonte);
}
