.container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    background: var(--background);
    justify-content: center;
    align-items: center;
    //margin-top: 80px;
}

.titulo {
    font-size: var(--tamanhoFonte);
}

.texto {
    color: #59184f;
    font-size: var(--tamanhoFonte);
    margin-top: 14%;
    justify-content: center;
}

.link-da-mesa {
    display: inline-block;
    color: var(--input-fontColor);
    font-size: var(--tamanhoFonte);
}

.btn-inicio {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--btn-bg);
    color: var(--font-color);
    width: var(--btn-width);
    height: var(--btn-height);
    border-radius: 30px;
    font-size: var(--tamanhoFonte);
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  } 

.spinner:before {
    content: '';
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    margin-top: 8px;
    //centralizar spinner horizontalmente - dividir width botao por 2, menos metade do tamanho e borda do spinner
    margin-left:calc(var(--btn-width) / 2 - 11px); 
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--font-color-aguarde);
    border-top-color: rgb(167, 163, 163);
    animation: spinner .8s linear infinite;

    @media (max-width: 800px) {
        margin-left: 180px;
        
    }

  }

  .btn[disabled] {
    background-color: rgb(167, 163, 163);
    color: rgb(167, 163, 163);
  }