<app-carta-inicio [recebeCartaInicio]="enviaCartaInicio"></app-carta-inicio>
<app-primeiro-jogador (transmitirPrimeiroJogador)="enviaPrimeiroJogador()" *ngIf="jogadorHost.isHost === true"></app-primeiro-jogador>


<div class="div-aguarde">

  <p *ngIf="jogadorHost.isHost === false" class="mensagem-aguarde">Aguardando início da partida</p>

  <div>O primeiro jogador é: {{ primeiroJogador.nome }}</div>

  <div class='div-btn-aguarde' *ngIf="jogadorHost.isHost === true">
    <button mat-raised-button class="btn-aguarde btn" [disabled]="desabilitaBtn" (click)="enviaStatus()">Iniciar partida</button>
  </div>

</div>
