<app-carta-inicio [recebeCartaInicio]="enviaCartaInicio"></app-carta-inicio>
<app-primeiro-jogador (transmitirPrimeiroJogador)="transmiteJogadorEscolhido()" *ngIf="jogadorPrincipal.isHost === true"></app-primeiro-jogador>

<div class="div-aguarde">

  <p *ngIf="jogadorPrincipal.isHost === false" class="mensagem-aguarde">Aguardando início da partida</p>
  
  <div class="aguardando" *ngIf="jogadorPrincipal.isHost === false">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <div class="div-btn-aguarde" *ngIf="jogadorPrincipal.isHost === true">
    <button mat-raised-button class="btn-aguarde btn" id="iniciar" [disabled]="desabilitaBtn" (click)="enviaStatus()">Iniciar partida</button>
  </div>

</div>