<div class="texto tamanho-modal body">
    <app-painel-voltar></app-painel-voltar>
    <div class="conteudo">
        <div class="titulo">
            <p tabindex="1"><strong>História do Jogo</strong></p>
        </div>
        <div class="corpo" id="corpo">
            <p tabindex="2">
                Em 2018, a Ana, a
                <a href="https://br.linkedin.com/in/bruna-descovi" target="_blank">Bruna</a>, a
                <a href="https://br.linkedin.com/in/isadora-giongo" target="_blank">Isadora</a> e a
                <a href="https://br.linkedin.com/in/larissayasin/pt" target="_blank">Larissa</a> eram colegas de trabalho
                e se juntavam na hora do almoço para jogar jogos de tabuleiro.
                Na época a empresa estava estruturando seu programa de inclusão de pessoas com deficiência (PCDs)
                e daí surgiu a ideia de reforçar o assunto através de uma alternativa lúdica.
            </p>
            <figure tabindex="3">
                <img src="../../assets/img/standJogosDB.jpg" class="image"  alt="Caixas de vários jogos sobre uma mesa, com cartazes relacionando as particularidades de cada um com o trabalho, por exemplo criatividade, cooperação, priorização, etc.">
                <caption>A cultura de jogos já era forte na DB</caption>
            </figure>

            <ul tabindex="4">As premissas que orientaram a criação do Corações da Lila foram:
                <li>- Ser gratuito</li>
                <li>- Ser expansível</li>
                <li>- Mecânica de jogo que induzisse a ler e pensar sobre as cartas</li>
                <li>- Sugerir ações práticas além da empatia</li>
                <li>- Mostrar que acessibilidade afeta a todos</li>
                <li>- Público-alvo de pessoas sem deficiência, que têm a responsabilidade de procurar se educar</li>

            </ul>

            <figure tabindex="5">
                <img src="../../assets/img/prototipoJogo.jpg"
                    alt="Protótipo com papeis coloridos recortados à mão e anotações semi-ilegíveis que deviam fazer sentido na época" class="image">
                <caption>Testes das regras feito antes de preencher os textos</caption>
            </figure>

            <p tabindex="6">
                O jogo físico foi apresentado no GUTS-RS, Tecnopuc Experience, AgileBrazil em Belo Horizonte e TDC
                Floripa,
                além de capacitações na DB e aula na FUNDATEC.

                Para saber sobre outros jogos projetados pela Ana ou sobre utilização de jogos no trabalho, acompanhe o
                blog BDD Warriors
                [link <a href="https://bddwarriors.wordpress.com/" target="_blank">https://bddwarriors.wordpress.com/</a>]

            </p>
            <figure tabindex="7">
                <img src="../../assets/img/CoracoesDaLilaTurma.jpg"
                    alt="Quatro mulheres brancas sorriem e mostram cópias do manual e das cartas do jogo, que também está disposto numa mesinha de vidro entre elas."
                    class="image">
                <caption>Com o produto final</caption>
            </figure>
        </div>
    </div>
</div>
