<section class="opcoes-container">
<h3 class="titulo">Opções de jogada:</h3>

<ul *ngIf="sala.status == 'JOGANDO'">
  <li *ngIf="somaCoracoes() < 5">Pegar 2 corações pequenos</li>
  <li *ngIf="somaCoracoes() < 5">Pegar um coração grande</li>
  <li *ngIf="">Comprar uma carta</li>
  <li *ngIf="somaCoracoes() > 0">Comprar uma carta de objetivo</li>
  <li></li>

</ul>

<ul *ngIf="sala.status == 'ULTIMA_RODADA'">
  <li>Trocar a categoria das cartas genéricas.</li>
</ul>

<!-- <div *ngFor="let cartas of jogador?.cartasDoJogo">
    <p>{{ cartas.tipo }}</p>
    <p>{{ cartas.pontos }}</p>
</div> -->
</section>

