<div class="dice">
  <ol class="die-list" #dice>
    <li class="die-item" data-side="1">
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="2">
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="3">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="4">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="5">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="6">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
  </ol>
  <button class="botao" [disabled]="mudaDesabilitado()" mat-raised-button (click)="compraCarta()">
    Rolar o dado
  </button>
</div>
