.cartas-container {
    margin: 16px;
    padding-bottom: 10px;
    &-scroll {
        display: flex;
        max-width: 100%;
        overflow-x: auto;
        padding-bottom: 8px;
        &:not(:first-child) {
            margin-top: 64px;
        }
        &::-webkit-scrollbar {
            height: 4px;
            background-color: rgba(0, 0, 0, 0.25);
            &-thumb {
                background-color: black;
            }
        }
        .carta {
            border: 2px solid black;
            padding: 20px;
            background: var(--input-backgroundColor);
            word-wrap: break-word;
            &-vertical {
                min-width: 180px;
                max-width: 180px;
                height: 350px;
                .cabecalho {
                    height: 80px;
                    display: flex;
                    justify-content: space-between;
                    .titulo {
                        margin-bottom: 0;
                        line-height: 24px;
                        font-size: calc(var(--tamanhoFonte) - 4pt);
                    }
                    .pontos {
                        background-color: black;
                        min-width: 1.7em;
                        min-height: 1.7em;
                        max-width: 1.7em;
                        max-height: 1.7em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        font-size: 20px;
                        border-radius: 50%;
                        .pt {
                            margin-top: 15px;
                            font-size: calc(var(--tamanhoFonte) - 3pt);
                            font-weight: bold;
                        }
                    }
                }
                .corpo {
                    margin-top: 16px;
                    .definicao {
                        margin-bottom: 0;
                        padding-right: 8px;
                        min-height: 130px;
                        max-height: 130px;
                        overflow-y: hidden;
                        text-overflow: ellipsis;
                        font-size: calc(var(--tamanhoFonte) - 4pt);
                    }
                    .icones {
                        min-height: 35px;
                        margin-top: 16px;
                        font-size: var(--tamanhoFonte);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .coracoes {
                            display: flex;
                            align-items: center;
                            .coracao:not(:first-child) {
                                margin-left: 8px;
                            }
                            .coracao-pequeno {
                                width: 0.9em;
                                height: 0.9em;
                            }
                            .coracao-grande {
                                width: 1.25em;
                                height: 1.25em;
                            }
                        }
                        .presentes {
                            position: relative;
                            .presente {
                                width: 1.75em;
                                height: 1.75em;
                            }
                            .presenteInfoAcoes {
                                width: 1em;
                                position: absolute;
                                bottom: 0px;
                                right: -5px;
                            }
                        }
                    }
                }
                .rodape {
                    margin-top: 32px;
                    .fonte {
                        max-height: 40px;
                        overflow-y: auto;
                        display: block;
                        font-size: calc(var(--tamanhoFonte) - 6pt);
                    }
                }
            }
            &-horizontal {
                min-width: 200px;
                max-width: 200px;
                height: 110px;
                &.carta-sem-titulo {
                    display: flex;
                    align-items: center;
                    .corpo .definicao {
                        min-height: unset;
                        max-height: unset;
                        margin: 0;
                    }
                }
                .cabecalho {
                    .titulo {
                        color: #38761d;
                        font-size: calc(var(--tamanhoFonte) - 6pt);
                        line-height: 20px;
                    }
                }
                .corpo {
                    .definicao {
                        min-height: 50px;
                        max-height: 60px;
                        width: 200px;
                        font-size: calc(var(--tamanhoFonte) - 7pt);
                        line-height: 20px;
                        overflow-y: auto;
                    }
                }
            }
        }
    }
    .carta-inicio {
        border: 2px solid black;
        width: 330px;
        height: min-content;
        padding: 16px;
        background: var(--input-backgroundColor);
    }
    .carta,
    .carta-objetivo,
    .carta-inicio {
        &:not(:first-child) {
            margin-left: 16px;
        }
    }
}

.cor-texto {
    color: #ffab40;
}

.y-scroll {
    &::-webkit-scrollbar {
        display: none;
        width: 4px;
        background-color: rgba(0, 0, 0, 0.25);
        &-thumb {
            background-color: black;
        }
    }
}
