// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ProjetoLilaFront-primary: mat.define-palette(mat.$indigo-palette);
$ProjetoLilaFront-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$ProjetoLilaFront-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ProjetoLilaFront-theme: mat.define-light-theme(
  (
    color: (
      primary: $ProjetoLilaFront-primary,
      accent: $ProjetoLilaFront-accent,
      warn: $ProjetoLilaFront-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ProjetoLilaFront-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background);
}

//variáveis e valores css default
:root {
  --background: #f2f2f2;
  --font-color: #59184f;
  --font-color-aguarde:#59184f;
  --tamanhoFonte:20px;
  --font-heigth: 1.5rem;
  --btn-width:300px;
  --btn-height:auto;
  --btn-bg:#f4dc6d;
  --input-fontColor:black;
  --input-backgroundColor:#e5e4e2;
  --widthImagem: 550px;
  --input-hoverTable: #e6c7e5;
  --radio-button: rgba(0, 0, 0, 0.54);
  --background-hover: #c3c3c3;
}

.contraste:root {
  --background: black;
  --font-color: rgb(8, 8, 8);
  --font-color-aguarde:white;
  --btn-bg: #d9f009;
  --input-fontColor: white;
  --input-backgroundColor:#e5e4e2;
  --input-hoverTable: #cc8cc9;
  --radio-button: #E5E4E2;
  --background-hover: rgb(34, 34, 34);
}


.fonteMaior:root {
  --tamanhoFonte: 25pt;
  --widthImagem: 700px;
  --font-heigth: 2rem;
  --btn-width: 420px;
  --btn-height: auto;
  --widthImagem: 700px;
  --margemTopoLogo: 10%;
}

.mat-form-field-appearance-fill:not(.select) .mat-form-field-flex:not(.select) {
  border-radius: 30px !important;
  width: var(--btn-width);
  background-color: var(--input-backgroundColor);
}

.mat-error {
  color: #59184f;
}

.mat-form-field-underline {
  display: none;
}

.css-carta .mat-dialog-container {
  background: var(--input-backgroundColor);
  border: 2.5px solid black;
}

.carta-inicio .mat-dialog-container {
  border: 2.5px solid black;
  border-radius: 8px;
}
.mat-radio-outer-circle {
  border-color: var(--radio-button);
}

.select .mat-form-field-flex {
  height: 2.5rem;
  padding: .25rem .5rem !important;
  margin: .5rem 0;
  width: 7.75rem;
  background-color: var(--background);
  border: 1px solid var(--input-backgroundColor);
}

.select mat-label,
.select .mat-select-value,
.select .mat-select-arrow {
  color: var(--input-fontColor) !important;
}

.mat-option,
.mat-option-text,
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option,
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple),
.mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
  background-color: var(--background);
  color: var(--input-fontColor);
}

.mat-option:hover .mat-option-text,
.mat-select-panel .mat-option:hover {
  background-color: var(--background-hover);
}

.mat-option:hover,
.mat-option:focus {
  background-color: var(--background);
}

.select .mat-form-field-appearance-fill{
  margin: 0 !important;
}

@media (max-width: 616px) {
  .mat-form-field-appearance-fill:not(.select) .mat-form-field-flex:not(.select) {
    border-radius: 30px !important;
    width: var(--btn-width);
    background-color: var(--input-backgroundColor);
  }
}


