* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0 0 10rem;
}

.img-logo {
  width: 100%;
}

.conteudo {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.conteudo p {
  font-size: var(--tamanhoFonte);
  color: var(--font-color-aguarde);
  line-height: var(--font-heigth);
}

.conjunto-btn{
  display: flex;
  flex-direction: column;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  background-color: var(--btn-bg);
  // color: var(--font-color);
  width: var(--btn-width);
  height: var(--btn-height);
  border-radius: 30px;
  font-size: var(--tamanhoFonte);
}

.img-lila {
  width: 30%;
  height: max-content;
  margin: 2rem 0;
}

.patrocinio {
  float: right;
  text-align: center;
  margin: 2rem 0 0 0;
}
.texto-patrocinio {
  font-weight: lighter;
  margin: 0;
  font-size: calc(var(--tamanhoFonte) * 0.75);
}

.dblogo {
  height: 70px;
}

@media (max-width: 600px) {
  .btn {
    font-size: calc(var(--tamanhoFonte) - 32%);
    width: var(--btn-width);
  }
}


