.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

#logo {
  width: 50%;
  padding-left: 15%;
}

img {
  width: 75%;
}

.botoes {
  display: flex;
  flex-direction: column;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  background-color: var(--btn-bg);
  color: var(--font-color);
  width: var(--btn-width);
  height: var(--btn-height);
  border-radius: 30px;
  font-size: var(--tamanhoFonte);
}

input {
  background-color: var(--bg-input);
}

@media (max-width: 600px) {
  .btn {
    font-size: calc(var(--tamanhoFonte) - 32%);
    width: var(--btn-width);
  }
}

.patrocinio {
  float: right;
  text-align: center;
  margin: 2rem 0 0 0;
}
.texto-patrocinio {
  font-weight: lighter;
  margin: 0;
  font-size: calc(var(--tamanhoFonte) * 0.75);
}

.dblogo {
  height: 70px;
}
