<div class="container">
  <div id="logo">
    <img src="../../assets/img/logoLilaSemDB.png" alt="LogoTipo" />
  </div>
  <!-- <div><button mat-raised-button class='btn' [routerLink]="['/login']">Login</button></div>-->
  <div>
    <button mat-raised-button class="btn" [routerLink]="['/mesa']">
      Criar Partida
    </button>
  </div>
</div>
<app-licenciamento></app-licenciamento>
<div class="patrocinio">
  <p class="texto-patrocinio">Patrocínio:</p>
  <img src="../../assets/svg/dbformatado.svg" alt="Logo da DB" class="dblogo" />
</div>

