<app-acessibilidade></app-acessibilidade>
<div class="body">
    <app-painel-voltar></app-painel-voltar>
    <div class="conteudo">
        <div>
            <p class="instrucao"><strong>Se você for enviar para uma gráfica, sugere-se passar as seguintes instruções:</strong></p>
            <div>
                <li>Frente e verso, colorido, couché 150g. </li>
                <li>Cartas.pdf: a página 1 é o verso de todas as outras cartas</li>
                <li>Inicio.pdf: a página 1 é o verso de todas as outras cartas</li>
                <li>GuiaRapido.pdf: a página 1 é o verso de todas as outras cartas.</li>
                <li>Objetivos.pdf: a página 1 é o verso de todas as outras cartas.</li>
                <li>Coracoes.pdf: apenas frente.</li>
                <li>Regras.pdf: montar uma sanfoninha com as regras do jogo.</li>
            </div>
        </div>
        <div class="arquivos">
            <p class="instrucao"><strong>Selecionar arquivos para download</strong></p>
            <li>
                <a href="https://drive.google.com/uc?id=1b8dwqgrtzTZUd4c_IKXnhzLO1QmQT85N&export=download">
                    Cartas.pdf</a>
            </li>
            <li>
                <a href="https://drive.google.com/uc?id=14XGR69lSkpIVMbmmRokOIrjgWFauqTxX&export=download">
                    Inicio.pdf</a>
            </li>
            <li>
                <a href="https://drive.google.com/uc?id=1Z-K1d2wMeM6r_SOXhGTmT3Vu_bK6KdpN&export=download">
                    GuiaRapido.pdf</a>
            </li>
            <li>
                <a href="https://drive.google.com/uc?id=1B1aLh4Rrie5t-fhMGtyONS1l0lzwhc7Y&export=download">
                    Objetivos.pdf</a>
            </li>
            <li> 
                <a href="https://drive.google.com/uc?id=16d3_ydu_pcjJKr5oXUWKXiT8-Q6sOmWY&export=download">
                    Coracoes.pdf</a>
            </li>
            <li> 
                <a href="https://drive.google.com/uc?id=1CblRnmWJqrhNoIL8h-ZmiEEIspDeBQXP&export=download">
                    Regras.pdf</a>
            </li>
        </div> 
    </div>
</div>


