.container {
    width: 100%;
    height: 20%;  
    display: flex;
    flex-direction: column;
    background: var(--background); 
    justify-content: center;
    align-items: center; 
}

.texto {
    color: #59184f;
    font-size: var(--tamanhoFonte);
    margin-top: 4%;
    justify-content: center;
}

.link-da-mesa {
    display: inline-block;
    color: var(--input-fontColor);
    font-size: var(--tamanhoFonte);
}

.btn-inicio {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--btn-bg);
    color: var(--font-color);
    width: var(--btn-width);
    height: var(--btn-height);
    border-radius: 30px;
    font-size: var(--tamanhoFonte);
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  .spinner:before {
    content: '';
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    margin-top: 4px;
    margin-left: 140px;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid var(--btn-bg) ;
    border-top-color: var(--font-color);
    animation: spinner .8s linear infinite;

    @media (max-width: 800px) {
        margin-left: 140px;
        
    }

  }

  .btn:disabled {
   background-color: var(--btn-bg);
   color: var(--btn-bg);
  }
